@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/*                       GLOBAL                           */
  * {
    box-sizing: border-box;
  }

  body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  body {
    background: #010101;
    font-family: "Montserrat", 'Roboto', sans-serif;
    color: white;
  }

  a {
    text-decoration: none;
  }

  p {
    line-height: 1.5em;
    font-size: 1.3em;
  }

  .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
  }

  .shadow {
    box-shadow: 0 3px 30px #333;
  }

/*                      SOCIAL & SCROLL BTN                      */
#scroll-btn {
  position: fixed;
  bottom: 45px;
  left: 50px;
  height: 80px;
  width: 80px;
  font-size: 4em;
  background-color: #222;
  color: #f1f1f1;
  text-align: center;
  border: none;
  border-radius: 50%;
  transition-duration: 0.4s;
  cursor: pointer;
}

#scroll-btn:hover {
  background-color: #333;
}

#social {
  position: fixed;
  bottom: 40px;
  right: 45px;
  display: flex;
  flex-wrap: wrap;
  font-size: 2em;
}

#social a {
  margin: 0 20px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: white;
  overflow: hidden;
  transition-duration: 0.4s;
  text-align: center;
}

.facebook {
  background-color: #4267B2;
  padding: 7px;
}

.instagram {
  background:  radial-gradient(circle at 30% 107%,
     #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  padding: 6px;
}

.youtube {
  background-color: #BB0000;
  padding: 5px;
}

#social a:hover {
  background: white;
}

#social a.facebook:hover {
  color: #4267B2;
}

#social a.instagram:hover {
  color: #833ab4;
}

#social a.youtube:hover {
  color: #BB0000;
}

/*                      LAYOUT                      */
.col-1 {
  float: left;
  width: 32%;
}
.col-2 {
  float: left;
  width: 66%
}

[class*="col-"] {
  margin-left: 2%;
}

.first {
  margin-left: 0%;
}

/*                      MEDIA                       */

video {
  width: 100%;
  max-width: 100%;
}

/*                      HEADER                      */
  header {
    background: url('./images/jumanji.png') 50% 25%;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
  }

  .account {
    position: absolute;
    top: 5%;
    right: 7%;
    font-size: 1.5em;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }

  .account a {
    display: block;
    box-sizing: border-box;
    margin: 0 4px;
    padding: 6px 22px;
    text-transform: uppercase;
    text-align: center;
    color: inherit;
  }

  .login {
    border: 2pt solid #eee1c6;
    transition-duration: 0.4s;
  }

  .signup {
    transition-duration: 0.4s;
  }

  .login:hover {
    cursor: pointer;
    background-color: #eee1c6;
    color: #808080;
  }

  .signup:hover {
    cursor: pointer;
    color: #808080;
  }

  #container{
      width: 100%;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: #eee1c6;
    }

  #container h1 {
      text-transform: uppercase;
      font-size: 60px;
      margin: 20px;
      letter-spacing: 10px;
    }


  /*/*                         SVG                             *\*/
   #container .svg {
     position: relative;
     top: 45px;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 80%;
   }

   #container path {
      stroke: #eee1c6;
      fill: #eee1c6;
      stroke-dasharray: 1800;
      opacity: 10;
      animation: animate 3s cubic-bezier(0,0.23,1,.1);
   }

  @keyframes animate {
    0% {
      opacity: 0;
      fill: none;
      stroke-dashoffset: 1800;
    }

    30% {
      opacity: 10;
      fill: none;
      stroke-dashoffset: 1800;
    }

    80% {
      fill: rgba(240, 235, 210, 0);
    }

    100% {
      opacity: 10;
      fill: rgba(240, 235, 210, 1);
      stroke-dashoffset: 0;
    }
   }

   /*/*                    ARROW DOWN                          *\*/
  .arrow i {
    position: absolute;
    bottom: 2%;
    left: 50%;
    font-size: 4em;
    color: #f1f1f1;
  }
   /*/*                    COUNTDOWN                          *\*/
  .countdown{
    margin: 40px 0;
  }

  .countd{
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 2px solid;
    border-radius: 50%;
    margin: 0 30px;
    font-size: 12px;
    overflow: hidden;
  }

  .countd span{
    display: block;
    font-size: 26px;
    margin-top:14px;
  }

/*                      MAIN CONTENT                      */
  .content {
    width: 960px;
    padding: 5pt;
    margin: 7pt auto 0;
    text-align: justify;
  }

  .content h1 {
    text-align: center;
  }

  .content span {
    font-weight:800;
  }

  section {
    background-color: #333;
    padding: 30px;
    margin-bottom: 20px;
  }

  section#ageli p, section#omada p, section#koinotita p {
    font-size: 1em;
  }

  section button {
    float: right;
    background-color: #30693f;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bolder;
    text-transform: uppercase;
    border-radius: 4px;
  }

  section a img {
    max-width: 100%;
    width: 100%;
  }

  section#missions a {
    border: 2px solid #29AB87;
    color: #eee1c6;
    text-transform: uppercase;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition-duration: 0.4s;
  }

  section#missions a:hover {
    background-color: #29AB87;
  }

/*                       FOOTER                       */
footer {
  text-align: center;
  font-size: 0.75em;
  padding: 10px;
  background: #222;
  border-top: 1px solid #eee;
}
